# Build and cache outputs
dist/
build/
coverage/
tmp/
.nx/

# Dependencies
node_modules/

# Env/config & logs
.env
.env.*
*.log
*.tsbuildinfo

# Editors/tooling
.vscode/
.idea/
.DS_Store
Thumbs.db
.specstory/
